version: "3.8"
services:
  redis:
    image: redis:7
    container_name: redis-service
    ports:
      - "6379:6379"
    restart: unless-stopped
  postgres:
    image: postgres:18.1
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: gt360
      POSTGRES_PASSWORD: Rlg*020305
      POSTGRES_DB: gt360
      PGDATA: /var/lib/postgresql/18/docker
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata: